:root.sidebar #background {
    background: rgb(43, 42, 51);
  }
  
  #tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
    display: none;
  }
  
  tab-item  tab-item-substance {
    --tab-size: 40px !important;
    height: var(--tab-size);
  }
  
  tab-item:not(.pinned) tab-item-substance {
    padding-left: 2px !important; /* !important is required when there are enough tabs to cause a scrollbar */
  }
  
  
  /* Push tab labels slightly to the right so they're completely hidden in collapsed state */
  .tab .label {
      margin-left: 11px;
  }
  
  #tabbar { scrollbar-width: none; }
  
  .newtab-button-box {
    display: none;
  }